<main class="main">
  <h1>Mi Agenda de contactos 📒</h1>

  <app-formulario-contacto
    (contactoAgregado)="agregarContacto($event)"
  ></app-formulario-contacto>

  <ng-container *ngIf="contactos$ | async as contactos">
    <app-contacto
      *ngFor="let contacto of contactos$ | async"
      [nombre]="contacto.nombre"
      [telefono]="contacto.telefono"
      (eliminar)="eliminarContacto(contacto)"
    ></app-contacto>
  </ng-container>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
