<main class="main">
  <h1>Mi Agenda de contactos 📞</h1>

  <app-formulario-contacto
    (contactoAgregado)="agregarContacto($event)"
  ></app-formulario-contacto>

  <app-contacto
    *ngFor="let contacto of contactos; let i = index"
    [nombre]="contacto.nombre"
    [telefono]="contacto.telefono"
    (eliminar)="eliminarContacto(i, contacto)"
  ></app-contacto>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
